body {
    background-image: url("../images/background2.png");
    background-color: rgba(255,255,255,0.5); /* Adjust the alpha value (between 0 and 1) as desired */
    background-size: 1200px, 700px;
    background-repeat: no-repeat;
  }
  